html,
body {
  margin: 0;
  padding: 0;
  background: #1b1924;
  font-family: "Inter", sans-serif;
  user-select: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 360px;
  margin: 2rem auto;
  padding: 0 10px;
}

#hero-img {
  width: 5.625rem;
  height: 5.625rem;
}

#hero-heading {
  color: #fff;
  font-size: 1.5625rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-field {
  background: #444059;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  margin-bottom: 0.8rem;
  padding: 0.75rem 1rem;
}

#endorsement-input {
  resize: none;
}

.to-from-section {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.to-from-input {
  text-align: center;
  width: 100%;
}

#publish-button {
  background: #28a9f1;
  border-radius: 8px;
  border: none;
  color: #04131c;
  text-align: center;
  font-size: 1.375rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

#publish-button:hover {
  background: #61bdee;
  scale: 1.02; 
}

#endorsements-heading {
  color: #fff;
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  margin: 1.5rem 0;
}

#endorsements-list {
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.8rem 0;
}

p {
  color: #1b1924;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  background: #fff;
  border-radius: 4px;
  padding: 0.7rem 0.9rem;
  margin: 0;
  text-align: start;
}
